* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background-color: rgba(3, 3, 16, 0.964); */
  background-color: black;
  overflow: hidden;
}

.cursor {
  position: fixed;
  width: 21px;
  height: 21px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 50%;
  transition-duration: 200ms;
  transition-timing-function: ease-out;
  transform: scale(1);
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  width: 800px;
  height: 120px;
  background-color: rgb(37, 25, 72);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-top: 60px;
}

nav:hover .crs-2 {
  display: none;
}

nav ul {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

nav ul li {
  width: 100%;
  height: 100%;
  text-align: center;
  align-items: center;
  display: flex;
}

nav ul li a {
  color: white;
  display: block;
  margin: 0px 45px;
  text-decoration: none;
  letter-spacing: 2.2px;
}

/* Google font */
nav ul li a {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.span {
  font-size: 19px;
}

.span:hover {
  font-size: 28px;
  color: red;
}

nav ul li a:hover {
  transform: scale(1.3);
  cursor: none;
}

.cursor.hovered {
  transform: scale(2.8);
  border: 2px solid white;
  background-color: black;
}

.container {
  position: relative;
  width: 800px;
  margin: 0 auto;
}

/* About */
.about {
  color: white;
  width: 800px;
  background-color: rgba(8, 9, 56, 0.949);
  margin: 0 auto;
  overflow: auto;
  overflow: hidden;
  height: 0px;
  transition: 0.8s ease;
  z-index: 0;
  position: absolute;
}

.about .text {
  padding: 20px 0px 20px 20px;
}

.about h2 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.about .inner-text {
  text-align: justify;
  width: 550px;
  margin-top: 25px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 19px;
}

.img {
  float: right;
  margin-top: -20px;
  margin-right: 20px;
}

.img img {
  border-radius: 50%;
  width: 140px;
  height: 140px;
  margin: 30px 13px 0px 0px;
}

.resume {
  margin-top: 50px;
  color: white !important;
  text-decoration: none;
  font-size: 19px;
  text-transform: uppercase;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  letter-spacing: 2px;
  border: 1px solid white;
  width: fit-content;
  padding: 10px 16px;
  display: block;
}

.resume:hover {
  background-color: red;
  cursor: pointer;
}

.active {
  color: #00ff77;
  font-weight: bold;
}

.education {
  color: white;
  width: 800px;
  background-color: rgba(8, 9, 56, 0.949);
  margin: 0 auto;
  overflow: auto;
  overflow: hidden;
  height: 0px;
  transition: 0.8s ease;
  z-index: 0;
  position: absolute;
}

.education .text {
  padding: 20px 20px 20px 20px;
}

.education .text h2 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.education .inner-text {
  text-align: justify;
  width: 100%;
  margin-top: 15px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 19px;
}

.skills {
  color: white;
  width: 800px;
  background-color: rgba(8, 9, 56, 0.949);
  margin: 0 auto;
  overflow: auto;
  overflow: hidden;
  height: 0px;
  transition: 0.8s ease;
  z-index: 0;
  position: absolute;
}

.skills h2 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.skills .text {
  padding: 20px 20px 20px 20px;
}

.skills .line {
  position: absolute;
  width: 300px;
  top: 240px;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 1px;
  background-color: rgb(129, 129, 129);
}

.skills .skill-icons .icon {
  display: flex;
  position: absolute;
}

.skills .skill-icons .icon:nth-child(1) {
  top: 280px;
  left: 37%;
  transform: translate(-50%, -50%);
}

.skills .skill-icons .icon:nth-child(2) {
  top: 335px;
  left: 36%;
  transform: translate(-50%, -50%);
}

.skills .skill-icons .icon:nth-child(3) {
  top: 392px;
  left: 41%;
  transform: translate(-50%, -50%);
}

.skills .skill-icons .icon:nth-child(4) {
  top: 276px;
  left: 63%;
  transform: translate(-50%, -50%);
}

.skills .skill-icons .icon:nth-child(5) {
  top: 333px;
  left: 60.5%;
  transform: translate(-50%, -50%);
}

.skills .skill-icons .icon:nth-child(6) {
  top: 390px;
  left: 65.5%;
  transform: translate(-50%, -50%);
}

.skills .skill-icons .icon i {
  font-size: 30px;
  margin-right: 20px;
  color: white;
  vertical-align: middle;
  animation: bigsm 1.6s linear infinite;
}

@keyframes bigsm {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.3);
  }

  100% {
    transform: scale(1);
  }
}

.skills .skill-icons .icon p {
  font-size: 20px;
  font-family: "Courier New", Courier, monospace;
  color: white;
  vertical-align: middle;
}

canvas {
  display: block;
  width: 100%;
  height: 100%;
}

.diffColor {
  position: absolute;
  width: 0px;
  opacity: 0;
  height: 60px;
  right: 1240px;
  top: 88px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  transition: 3s ease;
  z-index: 9999;
}

.green,
.purple,
.yellow,
.white {
  width: 40px;
  height: 40px;
  border: 2px solid white;
  cursor: pointer;
}

.green {
  background-color: rgb(11, 236, 11);
}

.purple {
  background-color: #d500ff;
}

.yellow {
  background-color: yellow;
}

.white {
  background-color: white;
  border: 2px solid rgb(255, 248, 43) !important;
}

.colors {
  color: white;
  font-size: 30px;
  position: absolute;
  top: 102px;
  left: 300px;
  z-index: 9999;
}

.colors .text {
  position: absolute;
  width: 200px;
  top: -40px;
  left: -140px;
  display: none;
}

.colors .fa-gear {
  cursor: pointer;
  transition-duration: 3s;
  color: wheat;
  z-index: 9999;
}

.container p::selection {
  color: rgb(0, 0, 0) !important;
  background-color: bisque;
}

.contacts {
  color: white;
  width: 800px;
  background-color: rgba(8, 9, 56, 0.949);
  margin: 0 auto;
  overflow: auto;
  overflow: hidden;
  height: 0px;
  transition: 0.8s ease;
  z-index: 0;
  position: absolute;
}

.contacts .text {
  padding: 20px 20px 20px 20px;
}

.contacts .text h2 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-decoration: 3px underline;
  text-underline-offset: 7px;
}

.contacts .text .inner-text p {
  font-size: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.contacts .text .inner-text p i {
  font-size: 26px;
  margin-right: 17px;
}

.contacts .contact-Icon {
  margin: 40px 0px 0px 64px;
}

.contacts .contact-Icon h3 {
  margin-bottom: 12px;
}

.contacts .contact-Icon a {
  font-size: 38px;
  margin: 0px 20px 0px 0px;
}

.fa-square-facebook {
  color: rgb(28, 100, 255);
}

.fa-linkedin {
  color: rgb(0, 119, 181);
}

.fa-github {
  color: rgb(255, 255, 255);
}

.fa-instagram {
  color: rgb(255, 77, 0);
}

.icon-names {
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  letter-spacing: 1.2px;
}

.icon-names p {
  background-color: rgb(255, 255, 255);
  color: black;
  width: fit-content;
  padding: 5px 10px;
  border-radius: 6px;
  text-align: center;
  position: absolute;
}

.icon-names p:nth-child(1) {
  bottom: 80px;
  left: 30px;
  background-color: blue;
  color: white;
  display: none;
}

.icon-names p:nth-child(2) {
  bottom: 80px;
  left: 90px;
  background-color: rgb(49, 103, 180);
  color: white;
  display: none;
}

.icon-names p:nth-child(3) {
  bottom: 80px;
  left: 150px;
  display: none;
}

.icon-names p:nth-child(4) {
  bottom: 80px;
  left: 200px;
  background-color: rgb(251, 102, 28);
  color: white;
  display: none;
}


/* For loader
.loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid #3498db;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Hide the loader when content is loaded */
/* .loaded .loader-wrapper {
  display: none;
} */ 
